[submodule "thirdparty/vsgXchange"]
	path = thirdparty/vsgXchange
	url = git@github.com:vsg-dev/vsgXchange.git
[submodule "thirdparty/vsgImGui"]
	path = thirdparty/vsgImGui
	url = git@github.com:vsg-dev/vsgImGui.git
[submodule "thirdparty/vsg"]
	path = thirdparty/vsg
	url = git@github.com:vsg-dev/VulkanSceneGraph.git
[submodule "thirdparty/vsgExamples"]
	path = thirdparty/vsgExamples
	url = git@github.com:vsg-dev/vsgExamples.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "thirdparty/cigi"]
	path = thirdparty/cigi
	url = git@github.com:qimenlang/cigi.git
[submodule "thirdparty/vsgCs"]
	path = thirdparty/vsgCs
	url = git@github.com:timoore/vsgCs.git
[submodule "thirdparty/rocky"]
	path = thirdparty/rocky
	url = git@github.com:pelicanmapping/rocky.git
